.prod-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* flex: flex-grow flex-shrink flex-basis */
.product-tile {
    padding: 10px;
    flex: 0 1 300px;
    min-width: 280px;
    max-width: 320px;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}